
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SuccessRegistrationAsync</title>
</head>
<body>
    <h2>
        We send Email...Plz Check Your Email To Confirm It
    </h2>
</body>
</html>
